<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<!--Строка подключения к БД-->
	<connectionStrings>
		<add name="PlumbusDBConnection"
			connectionString="Data Source=(local);Initial Catalog=PlumbusDB;Integrated Security=True"
			providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>